<html layout:decorate="~{index.html}">
    <body>
    <section layout:fragment="content">

    <!--<div id="profile-logo" class="container">-->
        <!--Commute page-->

        <!--<div data-th-each="data: ${divy_data}">-->
            <!--<div class="col-md-8">-->
                <!--<p th:utext="${data}"></p>-->
            <!--</div>-->

        <!--</div>-->
  <!--</div>-->

    <div id="profile-logo" class="container">

        <div class="col-md-8">
            <p>Metra page</p>

        </div>

<!--        <div class="col-md-8">-->
<!--        <p th:utext="${data}"></p>-->
<!--        &lt;!&ndash;<p th:utext="${keySet}"></p>&ndash;&gt;-->
<!--        </div>-->

<!--        <div data-th-each="post: ${data}">-->

            <div class="col-md-12">
                <table>
                    <thead>
                        <tr>
                            <th >ID</th>
                            <th >arrival</th>
                            <th >Stop</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="stop: ${data}">
                            <td th:text="${stop.trip_id}"></td>
                            <td th:text="${stop.arrival_time}"></td>
                            <td th:text="${stop.stop_id}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    </section>
    </body>

</html>
