<html layout:decorate="~{index.html}">
    <body>
    <section layout:fragment="content">

    <!--<div id="profile-logo" class="container">-->
        <!--Commute page-->

        <!--<div data-th-each="data: ${divy_data}">-->
            <!--<div class="col-md-8">-->
                <!--<p th:utext="${data}"></p>-->
            <!--</div>-->

        <!--</div>-->
  <!--</div>-->

    <div id="profile-logo" class="container">

        <div class="col-md-8">
            <p>Commute page</p>

        </div>

        <div class="col-md-8">
        <p th:utext="${divy_data}"></p>

        </div>

    </div>
    </section>
    </body>

</html>